node_modules/
.node_modules
try.js
try.html
prom.js
**/mine/
package.json
package-lock.json
utils.json
.eslintrc.js
babel.config.js

*package.json
*package-lock.json
*utils.json
*.eslintrc.js
*babel.config.js
